/* .shop_name{
    text-align: center;
}

.shop_since{
    text-align: center;
}

.coffee_list h2{
    text-align: center;
} */

.shop_name,
.shop_since,
h2 {
  text-align: center;
}

.menu {
  width: 80%;
  max-width: 570px;
  /* text-align: center;  */
  background-color: rgb(210, 165, 106);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
hr {
  height: 2px;
  width :470px;
  background-color: brown;
  border-color: brown;
  border-width: 1px;
}

body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top:5px;
}
h2 {
  font-size: 30px;
}
.item p {
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
}

.flavor,
.dessert {
  text-align: left;
  width: 80%;
}

.price {
  text-align: right;
  width: 20%;
}
h1,
h2 {
  font-family: Impact, serif;
}

.shop_since {
  font-style: italic;
}

/* FOOTER */
footer{
    text-align: center;
    font-size: 14px;
    padding:3px 0;
}
.bottom-line{
    margin-top:25px;
  }
  footer a{
    color: black;
    font-size: 16px;
  }
  a:visited { color : rgb(0, 0, 0); }
  a:hover {
    color: brown;
  }
  a:active {
    color: brown;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
  }

  .address{
    margin-bottom: 6px;
  }